.options-delete {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 2rem;
}
.options-delete a {
  text-decoration: none;
  color: #e5e5e0;
  text-align: center;
  opacity: 50%;
  transition: 0.5s;
}
.options-delete a:hover {
  opacity: 100%;
  transition: 0.5s;
}