@import "colours.scss";

.eshop {
  position: relative;
  //min-height: 100vh;
  width: 100%;
  padding: 50px 0 50px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .container {
    padding: 10rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10rem;
    .cards-membership,
    .cards-services {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      gap: 10rem;
      //max-width: 1300px;
      .card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 350px;
        border: 1px solid $outline;
        border-radius: 5px;
        background-color: $darkgray;
        transition: 0.5s;
        .inside {
          display: flex;
          flex-direction: column;
          gap: 2rem;
          justify-items: center;
          align-items: center;
          position: relative;
          .top-strip {
            width: 100%;
            height: 40px;
            border-radius: 0px 0px 5px 5px;
            opacity: 0;
            transition: 0.5s;
          }
          .content {
            padding: 0 2rem 5rem 2rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 2rem;
            width: 100%;
            .icon {
              transition: all 0.3s ease-in-out 0s;
              img {
                width: 6rem;
              }
            }
            .name {
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;
              color: $lightgray;
              transition: all 0.3s ease-in-out 0s;
              h1 {
                text-align: center;
              }
              .price {
                font-size: 4rem;
                color: $outline;
              }
            }
            .list {
              padding: 0 2rem 0 2rem;
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: center;
              gap: 2rem;
              width: 100%;
              color: $lightgray;
              ul {
                list-style-type: none;
                margin: 0;
                padding: 0;
                width: 100%;

                li {
                  border-top: 1px solid $main;
                  width: 100%;
                  display: flex;
                  flex-direction: row;
                  justify-content: space-evenly;
                  align-items: center;
                  img {
                    width: 3rem;
                  }
                }
              }
              .button {
                width: 100%;
                .btn {
                  outline: solid $outline;
                }
              }
            }
          }
        }
        &:hover {
          .inside {
            .top-strip {
              opacity: 1;
              transition: 0.5s;
            }
          }
        }
      }
      #bronze {
        .inside {
          .top-strip {
            background-color: rgb(205, 127, 50);
          }
        }
        &:hover {
          border-color: rgb(205, 127, 50);
          transition: 0.5s;
          .inside {
            .content {
              .name {
                h1 {
                  &::after {
                    background-color: rgb(205, 127, 50);
                    transition: 0.5s;
                  }
                }
              }
              .list {
                .button {
                  .btn {
                    outline-color: rgb(205, 127, 50);
                    transition: 0.5s;
                    &:hover {
                      scale: 1.05;
                    }
                  }
                }
              }
            }
          }
        }
      }

      #platinum {
        .inside {
          .top-strip {
            background-color: #e5e4e2;
          }
        }

        &:hover {
          border-color: #e5e4e2;
          transition: 0.5s;
          .content {
            .name {
              h1 {
                &::after {
                  background-color: #e5e4e2;
                }
              }
            }
            .list {
              .button {
                .btn {
                  outline-color: #e5e4e2;
                  transition: 0.5s;
                  &:hover {
                    scale: 1.05;
                  }
                }
              }
            }
          }
        }
      }

      #gold {
        .inside {
          .top-strip {
            background-color: #ffd700;
          }
        }

        &:hover {
          border-color: #ffd700;
          transition: 0.5s;
          .content {
            .name {
              h1 {
                &::after {
                  background-color: #ffd700;
                }
              }
            }
            .list {
              .button {
                .btn {
                  outline-color: #ffd700;
                  transition: 0.5s;
                  &:hover {
                    scale: 1.05;
                  }
                }
              }
            }
          }
        }
      }

      @media (min-width: 1250px) {
        #platinum {
          transform: translateY(-5rem);
        }
      }
    }

    .cards-services {
      display: flex;
      flex-basis: content;
      flex: 1 1 auto;
      form {
        position: relative;
        overflow: hidden;
        .background-image {
          width: 100%;
          position: absolute;
          object-fit: cover;
          height: 100%;
          border-radius: 5px;
          outline: 1px solid $outline;
          filter: brightness(20%);
        }
        .card {
          padding: 3rem 2rem;
          max-width: 500px;
          min-width: 300px;
          height: 500px;
          flex-shrink: 50%;

          .top-popup {
            position: absolute;
            top: 20%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 100%;
            text-align: center;
            display: flex;
            flex-direction: column;
            gap: 2rem;
            transition: all 0.3s ease-in-out 0s;
            opacity: 0;
            .text {
              color: $lightgray;
              width: 100%;
              font-size: 2.5rem;
            }
            .button {
              width: 100%;
              .btn {
                &:hover {
                  scale: 1.05;
                }
              }
            }
          }
        }
        &:hover {
          .name,
          .icon {
            opacity: 0;
            transition: all 0.3s ease-in-out 0s;
          }
          .top-popup {
            top: 50%;
            left: 50%;
            opacity: 1;
            transition: all 0.3s ease-in-out 0s;
          }
        }
      }
    }
  }
}
