.exercises-main .exercises-wrapper .filter-wrapper {
  display: none;
  width: 100%;
  margin: 4rem;
}
.exercises-main .exercises-wrapper .filter-wrapper .nadpis {
  width: 100%;
  text-align: center;
}
.exercises-main .exercises-wrapper .filter-wrapper .nadpis span {
  color: #e5e5e0;
  font-size: 4rem;
}
.exercises-main .exercises-wrapper .filter-wrapper .filter-muscle,
.exercises-main .exercises-wrapper .filter-wrapper .filter-equipment {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 3rem;
}
.exercises-main .exercises-wrapper .filter-wrapper .filter-muscle .filter-button,
.exercises-main .exercises-wrapper .filter-wrapper .filter-equipment .filter-button {
  width: 30%;
}
.exercises-main .exercises-wrapper .filter-wrapper .filter-muscle .filter-button .radio-input,
.exercises-main .exercises-wrapper .filter-wrapper .filter-equipment .filter-button .radio-input {
  display: none;
}
.exercises-main .exercises-wrapper .filter-wrapper .filter-muscle .filter-button .radio-input:checked + .radio-label,
.exercises-main .exercises-wrapper .filter-wrapper .filter-equipment .filter-button .radio-input:checked + .radio-label {
  background-color: #8dc63f;
  color: #e5e5e0;
}
.exercises-main .exercises-wrapper .filter-wrapper .filter-muscle .filter-button .radio-input:checked + .radio-label::before,
.exercises-main .exercises-wrapper .filter-wrapper .filter-equipment .filter-button .radio-input:checked + .radio-label::before {
  height: 1.6rem;
  width: 1.6rem;
  border: 10px solid #e5e5e0;
  background-color: #8dc63f;
}
.exercises-main .exercises-wrapper .filter-wrapper .filter-muscle .filter-button .radio-label,
.exercises-main .exercises-wrapper .filter-wrapper .filter-equipment .filter-button .radio-label {
  cursor: pointer;
  position: relative;
  color: #8dc63f;
  text-transform: uppercase;
  font-size: 2rem;
  border: 1px solid #8dc63f;
  border-radius: 5px;
  padding: 1rem 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.exercises-main .exercises-wrapper .filter-wrapper .filter-muscle .filter-button .radio-label::before,
.exercises-main .exercises-wrapper .filter-wrapper .filter-equipment .filter-button .radio-label::before {
  content: "";
  height: 3rem;
  width: 3rem;
  border: 3px solid #8dc63f;
  border-radius: 50%;
  margin-right: 2rem;
}
.exercises-main .exercises-wrapper .exercises-list-wrapper .exercises-list .exercises-columns .exercises-table-head {
  display: grid;
  grid-template-columns: 50% 50%;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  text-align: center;
}
.exercises-main .exercises-wrapper .exercises-list-wrapper .exercises-list .exercises-columns .exercises-table-head .name,
.exercises-main .exercises-wrapper .exercises-list-wrapper .exercises-list .exercises-columns .exercises-table-head .muscle,
.exercises-main .exercises-wrapper .exercises-list-wrapper .exercises-list .exercises-columns .exercises-table-head .admin {
  text-align: center;
  color: #e5e5e0;
  cursor: pointer;
  padding: 3rem 1rem;
}
.exercises-main .exercises-wrapper .exercises-list-wrapper .exercises-list .exercises-columns .exercises-table-head .equipment {
  display: none;
  color: #e5e5e0;
  cursor: pointer;
  padding: 3rem 0rem;
}
@media (min-width: 1200px) {
  .exercises-main .exercises-wrapper .exercises-list-wrapper .exercises-list .exercises-columns .exercises-table-head {
    grid-template-columns: 60% 20% 20%;
  }
  .exercises-main .exercises-wrapper .exercises-list-wrapper .exercises-list .exercises-columns .exercises-table-head .equipment {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.exercises-main .exercises-wrapper .exercises-list-wrapper .exercises-list tbody tr {
  display: grid;
  grid-template-columns: 50% 50%;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  text-align: center;
}
.exercises-main .exercises-wrapper .exercises-list-wrapper .exercises-list tbody tr:nth-child(even) {
  background-color: #303030;
}
.exercises-main .exercises-wrapper .exercises-list-wrapper .exercises-list tbody tr .exercise-wrapper,
.exercises-main .exercises-wrapper .exercises-list-wrapper .exercises-list tbody tr .target-wrapper {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.exercises-main .exercises-wrapper .exercises-list-wrapper .exercises-list tbody tr .exercise-wrapper .item-container,
.exercises-main .exercises-wrapper .exercises-list-wrapper .exercises-list tbody tr .target-wrapper .item-container {
  display: grid;
  text-decoration: none;
  padding: 3rem 0rem;
  width: 100%;
  text-align: center;
  align-content: center;
  justify-content: center;
}
.exercises-main .exercises-wrapper .exercises-list-wrapper .exercises-list tbody tr .exercise-wrapper .item-container .exercise-name,
.exercises-main .exercises-wrapper .exercises-list-wrapper .exercises-list tbody tr .target-wrapper .item-container .exercise-name {
  color: #e5e5e0;
  transition: 0.5s;
  font-size: 3.5rem;
  margin-left: 1rem;
}
.exercises-main .exercises-wrapper .exercises-list-wrapper .exercises-list tbody tr .exercise-wrapper .item-container .exercise-equipment,
.exercises-main .exercises-wrapper .exercises-list-wrapper .exercises-list tbody tr .exercise-wrapper .item-container .exercise-target,
.exercises-main .exercises-wrapper .exercises-list-wrapper .exercises-list tbody tr .target-wrapper .item-container .exercise-equipment,
.exercises-main .exercises-wrapper .exercises-list-wrapper .exercises-list tbody tr .target-wrapper .item-container .exercise-target {
  color: #e5e5e0;
  opacity: 50%;
  transition: 0.5s;
  text-align: center;
}
.exercises-main .exercises-wrapper .exercises-list-wrapper .exercises-list tbody tr .equipment-wrapper {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}
.exercises-main .exercises-wrapper .exercises-list-wrapper .exercises-list tbody tr .equipment-wrapper .item-container {
  display: grid;
  text-decoration: none;
  padding: 3rem 0rem;
  width: 100%;
  text-align: center;
  align-content: center;
  justify-content: center;
}
.exercises-main .exercises-wrapper .exercises-list-wrapper .exercises-list tbody tr .equipment-wrapper .item-container .exercise-equipment {
  color: #e5e5e0;
  opacity: 50%;
  transition: 0.5s;
  text-align: center;
}
.exercises-main .exercises-wrapper .exercises-list-wrapper .exercises-list tbody tr .adminicons-wrapper a .admin-icons {
  width: 5rem;
  transition: 0.5s;
}
.exercises-main .exercises-wrapper .exercises-list-wrapper .exercises-list tbody tr .adminicons-wrapper a .admin-icons:hover {
  transform: scale(1.2);
}
@media (min-width: 1200px) {
  .exercises-main .exercises-wrapper .exercises-list-wrapper .exercises-list tbody tr {
    display: grid;
    grid-template-columns: 60% 20% 20%;
  }
  .exercises-main .exercises-wrapper .exercises-list-wrapper .exercises-list tbody tr .exercise-wrapper .item-container {
    justify-content: start;
  }
  .exercises-main .exercises-wrapper .exercises-list-wrapper .exercises-list tbody tr .equipment-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.exercises-main .exercises-wrapper .exercises-list-wrapper .exercises-list tbody tr:hover .exercise-wrapper .item-container .exercise-name {
  color: #8dc63f;
  transition: 0.5s;
}
.exercises-main .exercises-wrapper .exercises-list-wrapper::-webkit-scrollbar {
  width: 0.2em;
}
.exercises-main .exercises-wrapper .exercises-list-wrapper::-webkit-scrollbar-track {
  background-color: transparent;
}
.exercises-main .exercises-wrapper .exercises-list-wrapper::-webkit-scrollbar-thumb {
  background-color: #8dc63f;
  outline: none;
}
@media (min-width: 1200px) {
  .exercises-main {
    padding: 5rem 15rem;
  }
}