@import "colours.scss";

.faq-main {
  padding: 5rem 2rem;
  min-height: 100vh;
  width: 100%;
  //margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  .faq {
    max-width: 80%;
    //margin-top: 2rem;
    padding: 2rem;
    border-bottom: 2px solid $outline;
    cursor: pointer;
    &:nth-child(odd) {
      background-color: $darkgray;
    }
    .question {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .title {
        font-size: 4rem;
        color: $lightgray;
        transition: color .5s;
      }

      svg {
        transition: transform 0.5s ease-in;
        path{
            transition: stroke 0.5s ease-out;
        }
      }
    }
    .answer {
      max-height: 0;
      overflow: hidden;
      transition: 0.5s;

      p {
        padding-top: 1rem;
        line-height: 1.6;
        font-size: 2.5rem;
        opacity: 0.5;
        color: $lightgray;
      }
    }

    &.active {
      .question {
        .title{
            color: $outline;
            transition: color .7s;
        }
        svg {
          transform: rotate(180deg);
            path{
                stroke: $outline;
                transition: .7s ease-in;
            }
        }
      }
      .answer {
        // max-height: 600px;
        max-height: 1000px;
        transition: max-height 1.4s ease;
        //animation: fade 1s ease-in-out;
      }
    }
  }
}

// @keyframes fade {
//   from {
//     opacity: 0;
//   }
//   to {
//     opacity: 1;
//   }
// }
