.nutritions-main .groceries-wrapper .groceries-list-wrapper .groceries-list .filter-container .columns-row {
  display: grid;
  grid-template-columns: 50% 50%;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  text-align: center;
}
.nutritions-main .groceries-wrapper .groceries-list-wrapper .groceries-list .filter-container .columns-row .name,
.nutritions-main .groceries-wrapper .groceries-list-wrapper .groceries-list .filter-container .columns-row .druhPotraviny,
.nutritions-main .groceries-wrapper .groceries-list-wrapper .groceries-list .filter-container .columns-row .admin {
  color: #e5e5e0;
  cursor: pointer;
  padding: 3rem 0rem;
}
.nutritions-main .groceries-wrapper .groceries-list-wrapper .groceries-list .filter-container .columns-row .kalorie,
.nutritions-main .groceries-wrapper .groceries-list-wrapper .groceries-list .filter-container .columns-row .bielkoviny,
.nutritions-main .groceries-wrapper .groceries-list-wrapper .groceries-list .filter-container .columns-row .tuky,
.nutritions-main .groceries-wrapper .groceries-list-wrapper .groceries-list .filter-container .columns-row .sacharidy {
  display: none;
  color: #e5e5e0;
  cursor: pointer;
  padding: 3rem 0rem;
  text-align: center;
}
.nutritions-main .groceries-wrapper .groceries-list-wrapper .groceries-list .filter-container .columns-row:hover {
  transition: 0.5s;
}
.nutritions-main .groceries-wrapper .groceries-list-wrapper .groceries-list .filter-container .columns-row:hover td a .product-name {
  color: #8dc63f;
}
@media (min-width: 1200px) {
  .nutritions-main .groceries-wrapper .groceries-list-wrapper .groceries-list .filter-container .columns-row {
    grid-template-columns: 40% 10% 10% 10% 10% 10%;
  }
  .nutritions-main .groceries-wrapper .groceries-list-wrapper .groceries-list .filter-container .columns-row .kalorie,
  .nutritions-main .groceries-wrapper .groceries-list-wrapper .groceries-list .filter-container .columns-row .bielkoviny,
  .nutritions-main .groceries-wrapper .groceries-list-wrapper .groceries-list .filter-container .columns-row .tuky,
  .nutritions-main .groceries-wrapper .groceries-list-wrapper .groceries-list .filter-container .columns-row .sacharidy,
  .nutritions-main .groceries-wrapper .groceries-list-wrapper .groceries-list .filter-container .columns-row .admin {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #e5e5e0;
    cursor: pointer;
    padding: 3rem 0rem;
    text-align: center;
  }
  .nutritions-main .groceries-wrapper .groceries-list-wrapper .groceries-list .filter-container .columns-row .name {
    display: flex;
    justify-content: start;
    margin-left: 1rem;
  }
}
.nutritions-main .groceries-wrapper .groceries-list-wrapper .groceries-list tbody tr {
  display: grid;
  grid-template-columns: 50% 50%;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  text-align: center;
}
.nutritions-main .groceries-wrapper .groceries-list-wrapper .groceries-list tbody tr:nth-child(even) {
  background-color: #303030;
}
.nutritions-main .groceries-wrapper .groceries-list-wrapper .groceries-list tbody tr .name-wrapper,
.nutritions-main .groceries-wrapper .groceries-list-wrapper .groceries-list tbody tr .type-wrapper {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nutritions-main .groceries-wrapper .groceries-list-wrapper .groceries-list tbody tr .name-wrapper .item-container,
.nutritions-main .groceries-wrapper .groceries-list-wrapper .groceries-list tbody tr .type-wrapper .item-container {
  display: grid;
  text-decoration: none;
  padding: 3rem 0rem;
  width: 100%;
  text-align: center;
  align-content: center;
  justify-content: center;
}
.nutritions-main .groceries-wrapper .groceries-list-wrapper .groceries-list tbody tr .name-wrapper .item-container .product-name,
.nutritions-main .groceries-wrapper .groceries-list-wrapper .groceries-list tbody tr .type-wrapper .item-container .product-name {
  color: #e5e5e0;
  transition: 0.5s;
  font-size: 3.5rem;
  margin-left: 1rem;
}
.nutritions-main .groceries-wrapper .groceries-list-wrapper .groceries-list tbody tr .name-wrapper .item-container .type,
.nutritions-main .groceries-wrapper .groceries-list-wrapper .groceries-list tbody tr .type-wrapper .item-container .type {
  color: #e5e5e0;
  opacity: 50%;
  transition: 0.5s;
  text-align: center;
}
.nutritions-main .groceries-wrapper .groceries-list-wrapper .groceries-list tbody tr .adminicons-wrapper a .admin-icons {
  width: 5rem;
  transition: 0.5s;
}
.nutritions-main .groceries-wrapper .groceries-list-wrapper .groceries-list tbody tr .adminicons-wrapper a .admin-icons:hover {
  transform: scale(1.2);
}
.nutritions-main .groceries-wrapper .groceries-list-wrapper .groceries-list tbody tr .kalorie-wrapper,
.nutritions-main .groceries-wrapper .groceries-list-wrapper .groceries-list tbody tr .protein-wrapper,
.nutritions-main .groceries-wrapper .groceries-list-wrapper .groceries-list tbody tr .fat-wrapper,
.nutritions-main .groceries-wrapper .groceries-list-wrapper .groceries-list tbody tr .carbo-wrapper {
  display: none;
}
.nutritions-main .groceries-wrapper .groceries-list-wrapper .groceries-list tbody tr .kalorie-wrapper .item-container,
.nutritions-main .groceries-wrapper .groceries-list-wrapper .groceries-list tbody tr .protein-wrapper .item-container,
.nutritions-main .groceries-wrapper .groceries-list-wrapper .groceries-list tbody tr .fat-wrapper .item-container,
.nutritions-main .groceries-wrapper .groceries-list-wrapper .groceries-list tbody tr .carbo-wrapper .item-container {
  display: grid;
  text-decoration: none;
  padding: 3rem 0rem;
  width: 100%;
  text-align: center;
  align-content: center;
  justify-content: center;
}
.nutritions-main .groceries-wrapper .groceries-list-wrapper .groceries-list tbody tr .kalorie-wrapper .item-container .kcal,
.nutritions-main .groceries-wrapper .groceries-list-wrapper .groceries-list tbody tr .kalorie-wrapper .item-container .protein,
.nutritions-main .groceries-wrapper .groceries-list-wrapper .groceries-list tbody tr .kalorie-wrapper .item-container .fat,
.nutritions-main .groceries-wrapper .groceries-list-wrapper .groceries-list tbody tr .kalorie-wrapper .item-container .carbohydrates,
.nutritions-main .groceries-wrapper .groceries-list-wrapper .groceries-list tbody tr .protein-wrapper .item-container .kcal,
.nutritions-main .groceries-wrapper .groceries-list-wrapper .groceries-list tbody tr .protein-wrapper .item-container .protein,
.nutritions-main .groceries-wrapper .groceries-list-wrapper .groceries-list tbody tr .protein-wrapper .item-container .fat,
.nutritions-main .groceries-wrapper .groceries-list-wrapper .groceries-list tbody tr .protein-wrapper .item-container .carbohydrates,
.nutritions-main .groceries-wrapper .groceries-list-wrapper .groceries-list tbody tr .fat-wrapper .item-container .kcal,
.nutritions-main .groceries-wrapper .groceries-list-wrapper .groceries-list tbody tr .fat-wrapper .item-container .protein,
.nutritions-main .groceries-wrapper .groceries-list-wrapper .groceries-list tbody tr .fat-wrapper .item-container .fat,
.nutritions-main .groceries-wrapper .groceries-list-wrapper .groceries-list tbody tr .fat-wrapper .item-container .carbohydrates,
.nutritions-main .groceries-wrapper .groceries-list-wrapper .groceries-list tbody tr .carbo-wrapper .item-container .kcal,
.nutritions-main .groceries-wrapper .groceries-list-wrapper .groceries-list tbody tr .carbo-wrapper .item-container .protein,
.nutritions-main .groceries-wrapper .groceries-list-wrapper .groceries-list tbody tr .carbo-wrapper .item-container .fat,
.nutritions-main .groceries-wrapper .groceries-list-wrapper .groceries-list tbody tr .carbo-wrapper .item-container .carbohydrates {
  display: flex;
  color: #e5e5e0;
  opacity: 50%;
  transition: 0.5s;
  justify-content: center;
  align-items: center;
}
@media (min-width: 1200px) {
  .nutritions-main .groceries-wrapper .groceries-list-wrapper .groceries-list tbody tr {
    grid-template-columns: 40% 10% 10% 10% 10% 10%;
  }
  .nutritions-main .groceries-wrapper .groceries-list-wrapper .groceries-list tbody tr .kalorie-wrapper,
  .nutritions-main .groceries-wrapper .groceries-list-wrapper .groceries-list tbody tr .protein-wrapper,
  .nutritions-main .groceries-wrapper .groceries-list-wrapper .groceries-list tbody tr .fat-wrapper,
  .nutritions-main .groceries-wrapper .groceries-list-wrapper .groceries-list tbody tr .carbo-wrapper {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .nutritions-main .groceries-wrapper .groceries-list-wrapper .groceries-list tbody tr .name-wrapper .item-container {
    justify-content: start;
  }
}
.nutritions-main .groceries-wrapper .groceries-list-wrapper .groceries-list tbody tr:hover .name-wrapper .item-container .product-name {
  color: #8dc63f;
  transition: 0.5s;
}
.nutritions-main .groceries-wrapper::-webkit-scrollbar {
  width: 0.2em;
}
.nutritions-main .groceries-wrapper::-webkit-scrollbar-track {
  background-color: transparent;
}
.nutritions-main .groceries-wrapper::-webkit-scrollbar-thumb {
  background-color: #8dc63f;
  outline: none;
}