@import "colours.scss";

.nutritions-main {
  .groceries-wrapper {
    .groceries-list-wrapper {
      .groceries-list {
        .filter-container {
          .columns-row {
            display: grid;
            grid-template-columns: 50% 50%;
            justify-content: space-between;
            align-items: center;
            text-decoration: none;
            text-align: center;
            .name,
            .druhPotraviny,
            .admin {
              color: $lightgray;
              cursor: pointer;
              padding: 3rem 0rem;
            }
            .kalorie,
            .bielkoviny,
            .tuky,
            .sacharidy {
              display: none;
              color: $lightgray;
              cursor: pointer;
              padding: 3rem 0rem;
              text-align: center;
            }
            &:hover {
              transition: 0.5s;
              td {
                a {
                  .product-name {
                    color: $outline;
                  }
                }
              }
            }
          }

          @media (min-width: 1200px) {
            .columns-row {
              grid-template-columns: 40% 10% 10% 10% 10% 10%;
              .kalorie,
              .bielkoviny,
              .tuky,
              .sacharidy,
              .admin {
                display: flex;
                justify-content: center;
                align-items: center;
                color: #e5e5e0;
                cursor: pointer;
                padding: 3rem 0rem;
                text-align: center;
              }

              .name {
                display: flex;
                justify-content: start;
                margin-left: 1rem;
              }
            }
          }
        }

        tbody {
          tr {
            display: grid;
            grid-template-columns: 50% 50%;
            justify-content: space-between;
            align-items: center;
            text-decoration: none;
            text-align: center;
            &:nth-child(even) {
              background-color: $darkgray;
            }

            .name-wrapper,
            .type-wrapper {
              height: 100px;
              display: flex;
              justify-content: center;
              align-items: center;

              .item-container {
                display: grid;
                text-decoration: none;
                padding: 3rem 0rem;
                width: 100%;
                text-align: center;
                align-content: center;
                justify-content: center;
                .product-name {
                  color: $lightgray;
                  transition: 0.5s;
                  font-size: 3.5rem;
                  margin-left: 1rem;
                }
                .type {
                  color: $lightgray;
                  opacity: 50%;
                  transition: 0.5s;
                  text-align: center;
                }
              }
            }

            .adminicons-wrapper {
              a {
                .admin-icons {
                  width: 5rem;
                  transition: 0.5s;
                  &:hover {
                    transform: scale(1.2);
                  }
                }
              }
            }

            .kalorie-wrapper,
            .protein-wrapper,
            .fat-wrapper,
            .carbo-wrapper {
              display: none;
              .item-container {
                display: grid;
                text-decoration: none;
                padding: 3rem 0rem;
                width: 100%;
                text-align: center;
                align-content: center;
                justify-content: center;

                .kcal,
                .protein,
                .fat,
                .carbohydrates {
                  display: flex;
                  color: $lightgray;
                  opacity: 50%;
                  transition: 0.5s;
                  justify-content: center;
                  align-items: center;
                }
              }
            }

            @media (min-width: 1200px) {
              grid-template-columns: 40% 10% 10% 10% 10% 10%;
              .kalorie-wrapper,
              .protein-wrapper,
              .fat-wrapper,
              .carbo-wrapper {
                height: 100px;
                display: flex;
                justify-content: center;
                align-items: center;
              }

              .name-wrapper {
                .item-container {
                  justify-content: start;
                }
              }
            }

            &:hover {
              .name-wrapper {
                .item-container {
                  .product-name {
                    color: $outline;
                    transition: 0.5s;
                  }
                }
              }
            }
          }
        }
      }
    }
    &::-webkit-scrollbar {
      width: 0.2em;
    }

    &::-webkit-scrollbar-track {
      background-color: transparent;
    }

    &::-webkit-scrollbar-thumb {
      background-color: $outline;
      outline: none;
    }
  }

}
