@import "colours.scss";

.recipes-main {
  .recipes-wrapper {
    .recipes-list-wrapper {
      .recipes-list {
        .columns-container {
          .columns-row {
            .name {
              cursor: pointer;
              width: 100%;
              display: flex;
              justify-content: center;
              align-items: center;
              padding: 3rem 0rem;
              color: $lightgray;
            }

            .difficulty,
            .preptime,
            .admin {
              padding: 3rem 0rem;
              color: $lightgray;
              cursor: pointer;
              display: none;
              text-align: center;
            }
          }

          @media (min-width: 1200px) {
            .columns-row {
              display: grid;
              grid-template-columns: 60% 20% 20%;

              .difficulty,
              .preptime,
              .admin {
                display: flex;
                justify-content: center;
                align-items: center;
              }
            }
          }
        }

        tbody {
          tr {
            display: grid;
            justify-content: center;
            align-items: center;
            text-decoration: none;
            text-align: center;
            &:nth-child(even) {
              background-color: $darkgray;
            }

            .name-wrapper {
              transition: 0.5s;
              font-size: 3.5rem;
              margin-left: 1rem;
              height: 100px;
              display: flex;
              justify-content: center;
              align-items: center;
              a {
                display: grid;
                text-decoration: none;
                padding: 3rem 0rem;
                width: 100%;
                align-content: center;
                justify-content: center;
                .recipe-name {
                  color: $lightgray;
                  transition: 0.5s;
                  font-size: 3.5rem;
                  margin-left: 1rem;
                }
              }
            }

            .difficulty-wrapper,
            .time-wrapper {
              display: none;
              color: $lightgray;
              transition: 0.5s;
              text-align: center;
              opacity: 50%;
              a {
                display: grid;
                text-decoration: none;
                padding: 3rem 0rem;
                width: 100%;
                text-align: center;
                align-content: center;
                justify-content: center;
                .recipe-time,
                .recipe-difficulty {
                  color: $lightgray;
                  opacity: 50%;
                  transition: 0.5s;
                  text-align: center;
                }
              }
            }

            .adminicons-wrapper {
              .admin-icons {
                width: 5rem;
                transition: 0.5s;

                &:hover {
                  transform: scale(1.2);
                }
              }
            }

            @media (min-width: 1200px) {
              display: grid;
              grid-template-columns: 60% 20% 20%;
              .name-wrapper {
                a {
                  justify-content: start;
                }
              }
              .difficulty-wrapper,
              .time-wrapper {
                display: flex;
                justify-content: center;
                align-items: center;
              }
            }

            &:hover {
              .name-wrapper {
                a {
                  .recipe-name {
                    color: $outline;
                    transition: 0.5s;
                  }
                }
              }
            }
          }
        }

        .th-sort-asc::after {
          content: "\25b4";
          margin-left: 5px;
        }
        .th-sort-desc::after {
          content: "\25be";
          margin-left: 5px;
        }

        .th-sort-desc,
        .th-sort-asc {
          background-color: $main;
          border-bottom: 2px solid $outline;
          color: $outline;
        }
      }
      &::-webkit-scrollbar {
        width: 0.2em;
      }

      &::-webkit-scrollbar-track {
        background-color: transparent;
      }

      &::-webkit-scrollbar-thumb {
        background-color: $outline;
        outline: none;
      }
    }
  }

  @media (min-width: 1200px) {
    padding: 5rem 10rem;
  }
}
