@import "colours.scss";

.recipes-main {
  min-height: 100vh;
  padding: 5rem 2rem;
  position: relative;
  .recipes-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    //max-width: 600px;
    .searchbar {
      position: relative;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      .search-bar {
        width: 100%;
        padding: 5px 0;
        font-size: 3rem;
        margin: 10px 0;
        border: none;
        border-bottom: 1px solid $outline;
        outline: none;
        resize: none;
        background-color: $main;
        color: $lightgray;
        //position: relative;
      }
      .placeholder {
        position: absolute;
        left: 0;
        padding: 5px 0;
        font-size: 3rem;
        margin: 10px 0;
        pointer-events: none;
        transition: 0.7s;
        color: $lightgray;
        &::after {
          content: "";
          position: absolute;
          bottom: 0;
          left: 0;
          width: 0;
          border-bottom: 0.1px solid $outline;
          transition: 0.5s;
        }
        span {
          font-size: 4rem;
          transition: 0.7s;
          color: $lightgray;
        }
        img {
          width: 4rem;
          transition: 0.7s;
          align-self: center;
          height: 100%;
        }
      }

      input:focus + .placeholder,
      input:valid + .placeholder {
        transform: translateY(-6rem);
        opacity: 50%;
        &::after {
          content: "";
          position: absolute;
          bottom: 6px;
          left: 0;
          width: 100%;
          border-bottom: 0.1px solid $outline;
          transition: 0.5s;
        }
      }
    }

    .recipes-list-wrapper {
      width: 100%;
      max-height: 80vh;
      overflow: hidden;
      overflow-y: scroll;
      .recipes-list {
        padding: 0rem;
        background-color: $main;
        width: 100%;
        position: relative;
        .columns-container {
          //box-shadow: 0 1px 0 $lightgray;
          background-color: $darkgray;
          position: sticky;
          top: 0;
          z-index: 100;
          border: 1px solid $lightgray;
          //left: 100%;
          tr {
            display: grid;
            grid-template-columns: 60% 20% 20%;
            justify-content: space-between;
            align-items: center;
            text-decoration: none;
            text-align: center;
            .name {
              color: $lightgray;
              padding: 3rem 0rem;
              cursor: pointer;
            }

            .difficulty,
            .preptime {
              color: $lightgray;
              padding: 3rem 0rem;
              text-align: center;
              cursor: pointer;
            }
          }

          @media (min-width: 1200px) {
            tr {
              grid-template-columns: 60% 20% 20%;
            }
          }
        }
        tbody {
          tr {
            &:nth-child(even) {
              background-color: $darkgray;
            }
            td {
              height: 100px;
              .item-container {
                display: grid;
                grid-template-columns: 60% 20% 20%;
                justify-content: space-between;
                align-items: center;
                text-decoration: none;
                padding: 3rem 0rem;
                // #name {
                //   text-align: left;
                // }
                .recipe-name {
                  color: $lightgray;
                  transition: 0.5s;
                  font-size: 3.5rem;
                  margin-left: 1rem;
                }

                .recipe-difficulty,
                .recipe-time {
                  color: $lightgray;
                  transition: 0.5s;
                  text-align: center;
                  opacity: 50%;
                }

                &:hover {
                  transition: 0.5s;
                  .recipe-name {
                    color: $outline;
                  }
                }
              }
            }
          }
        }

        .th-sort-asc::after {
          content: "\25b4";
          margin-left: 5px;
        }
        .th-sort-desc::after {
          content: "\25be";
          margin-left: 5px;
        }

        .th-sort-desc,
        .th-sort-asc {
          background-color: $main;
          border-bottom: 2px solid $outline;
          color: $outline;
        }
      }
      &::-webkit-scrollbar {
        width: 0.2em;
      }

      &::-webkit-scrollbar-track {
        background-color: transparent;
      }

      &::-webkit-scrollbar-thumb {
        background-color: $outline;
        outline: none;
      }
    }
  }

  @media (min-width: 1200px) {
    padding: 5rem 15rem;
  }
}
