@charset "UTF-8";
.recipes-main .recipes-wrapper .recipes-list-wrapper .recipes-list .columns-container .columns-row .name {
  cursor: pointer;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem 0rem;
  color: #e5e5e0;
}
.recipes-main .recipes-wrapper .recipes-list-wrapper .recipes-list .columns-container .columns-row .difficulty,
.recipes-main .recipes-wrapper .recipes-list-wrapper .recipes-list .columns-container .columns-row .preptime,
.recipes-main .recipes-wrapper .recipes-list-wrapper .recipes-list .columns-container .columns-row .admin {
  padding: 3rem 0rem;
  color: #e5e5e0;
  cursor: pointer;
  display: none;
  text-align: center;
}
@media (min-width: 1200px) {
  .recipes-main .recipes-wrapper .recipes-list-wrapper .recipes-list .columns-container .columns-row {
    display: grid;
    grid-template-columns: 60% 20% 20%;
  }
  .recipes-main .recipes-wrapper .recipes-list-wrapper .recipes-list .columns-container .columns-row .difficulty,
  .recipes-main .recipes-wrapper .recipes-list-wrapper .recipes-list .columns-container .columns-row .preptime,
  .recipes-main .recipes-wrapper .recipes-list-wrapper .recipes-list .columns-container .columns-row .admin {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.recipes-main .recipes-wrapper .recipes-list-wrapper .recipes-list tbody tr {
  display: grid;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  text-align: center;
}
.recipes-main .recipes-wrapper .recipes-list-wrapper .recipes-list tbody tr:nth-child(even) {
  background-color: #303030;
}
.recipes-main .recipes-wrapper .recipes-list-wrapper .recipes-list tbody tr .name-wrapper {
  transition: 0.5s;
  font-size: 3.5rem;
  margin-left: 1rem;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.recipes-main .recipes-wrapper .recipes-list-wrapper .recipes-list tbody tr .name-wrapper a {
  display: grid;
  text-decoration: none;
  padding: 3rem 0rem;
  width: 100%;
  align-content: center;
  justify-content: center;
}
.recipes-main .recipes-wrapper .recipes-list-wrapper .recipes-list tbody tr .name-wrapper a .recipe-name {
  color: #e5e5e0;
  transition: 0.5s;
  font-size: 3.5rem;
  margin-left: 1rem;
}
.recipes-main .recipes-wrapper .recipes-list-wrapper .recipes-list tbody tr .difficulty-wrapper,
.recipes-main .recipes-wrapper .recipes-list-wrapper .recipes-list tbody tr .time-wrapper {
  display: none;
  color: #e5e5e0;
  transition: 0.5s;
  text-align: center;
  opacity: 50%;
}
.recipes-main .recipes-wrapper .recipes-list-wrapper .recipes-list tbody tr .difficulty-wrapper a,
.recipes-main .recipes-wrapper .recipes-list-wrapper .recipes-list tbody tr .time-wrapper a {
  display: grid;
  text-decoration: none;
  padding: 3rem 0rem;
  width: 100%;
  text-align: center;
  align-content: center;
  justify-content: center;
}
.recipes-main .recipes-wrapper .recipes-list-wrapper .recipes-list tbody tr .difficulty-wrapper a .recipe-time,
.recipes-main .recipes-wrapper .recipes-list-wrapper .recipes-list tbody tr .difficulty-wrapper a .recipe-difficulty,
.recipes-main .recipes-wrapper .recipes-list-wrapper .recipes-list tbody tr .time-wrapper a .recipe-time,
.recipes-main .recipes-wrapper .recipes-list-wrapper .recipes-list tbody tr .time-wrapper a .recipe-difficulty {
  color: #e5e5e0;
  opacity: 50%;
  transition: 0.5s;
  text-align: center;
}
.recipes-main .recipes-wrapper .recipes-list-wrapper .recipes-list tbody tr .adminicons-wrapper .admin-icons {
  width: 5rem;
  transition: 0.5s;
}
.recipes-main .recipes-wrapper .recipes-list-wrapper .recipes-list tbody tr .adminicons-wrapper .admin-icons:hover {
  transform: scale(1.2);
}
@media (min-width: 1200px) {
  .recipes-main .recipes-wrapper .recipes-list-wrapper .recipes-list tbody tr {
    display: grid;
    grid-template-columns: 60% 20% 20%;
  }
  .recipes-main .recipes-wrapper .recipes-list-wrapper .recipes-list tbody tr .name-wrapper a {
    justify-content: start;
  }
  .recipes-main .recipes-wrapper .recipes-list-wrapper .recipes-list tbody tr .difficulty-wrapper,
  .recipes-main .recipes-wrapper .recipes-list-wrapper .recipes-list tbody tr .time-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.recipes-main .recipes-wrapper .recipes-list-wrapper .recipes-list tbody tr:hover .name-wrapper a .recipe-name {
  color: #8dc63f;
  transition: 0.5s;
}
.recipes-main .recipes-wrapper .recipes-list-wrapper .recipes-list .th-sort-asc::after {
  content: "▴";
  margin-left: 5px;
}
.recipes-main .recipes-wrapper .recipes-list-wrapper .recipes-list .th-sort-desc::after {
  content: "▾";
  margin-left: 5px;
}
.recipes-main .recipes-wrapper .recipes-list-wrapper .recipes-list .th-sort-desc,
.recipes-main .recipes-wrapper .recipes-list-wrapper .recipes-list .th-sort-asc {
  background-color: #262626;
  border-bottom: 2px solid #8dc63f;
  color: #8dc63f;
}
.recipes-main .recipes-wrapper .recipes-list-wrapper::-webkit-scrollbar {
  width: 0.2em;
}
.recipes-main .recipes-wrapper .recipes-list-wrapper::-webkit-scrollbar-track {
  background-color: transparent;
}
.recipes-main .recipes-wrapper .recipes-list-wrapper::-webkit-scrollbar-thumb {
  background-color: #8dc63f;
  outline: none;
}
@media (min-width: 1200px) {
  .recipes-main {
    padding: 5rem 10rem;
  }
}